spring:
  application:
    name: authservice
  datasource:
    url: jdbc:postgresql://localhost:5432/authservice
    username: postgres
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
